body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

input{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition: 0.2s ease-in-out;
}

input:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;  
  transition: 0.2s ease-in-out;
}



button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  transition: 0.2s ease-in-out;
}

button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}