/* Estilos para o footer */
.footer {
  color: #a59b9b;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: 40px; /* Distância do conteúdo acima */
  position: relative;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 10px;
}