@import url('rodape.css');

body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

.btn_next  {
  color: black;
  text-decoration: none; 
}

.btn_prev{
  position: absolute; /* Posiciona a imagem de forma absoluta */
  top: 0; /* Alinha a imagem ao topo */
  left: 0; /* Alinha a imagem à esquerda */
  width: 60px; /* Largura da imagem (ajuste conforme necessário) */
  height: auto; /* Mantém a proporção da imagem */
}

.cosplay img{
  width: 500px;
   height: 450px; 
   margin: 10px 15px;
    background-size: cover; 
    background-position: top; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s;
}

a {
  text-decoration: none; 
  color: #3498db; 
}

a:hover {
  color: #2980b9; 
  text-decoration: none; 
}

.workshops img {
  padding-left: 140px;
  height: 300px;
  width: 450px;
}

/* Estilos para o contêiner do cabeçalho */
.cabecalho {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* Estilos para a lista de navegação */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

/* Estilos para os links de navegação */
nav ul li a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

/* Estilos para o botão de login */
.btn-login button {
  background-color: #007bff; /* Cor de fundo azul */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding-top: 40px 0;
}

.btn-login button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Remover sublinhado no link dentro do botão */
.btn-login button a:hover {
  text-decoration: none;
}

/* Efeito de hover para o botão */
.btn-login button:hover {
  background-color: #0056b3; /* Cor mais escura no hover */
  transform: translateY(-3px); /* Levanta o botão */
}

/* Foco para acessibilidade */
.btn-login button:focus {
  outline: 2px solid #0056b3;
}

.envolvidos {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*nav bar*/
.navbar {
  background-color: rgb(54, 3, 240);
  display: flex;
  justify-content: space-between; /* Espaço entre os itens de navegação e o botão de login */
  align-items: center; /* Alinha os itens verticalmente */
  width: 100%; /* Garante que a navbar ocupe toda a largura */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
}


.navlinks{
  
    margin: 0 15px; /* Espaçamento entre os itens */

}

.btn_envolv{
  color: white;
  text-decoration: none; 
  transition: all 0.2s ease-in-out;
}

.btn_envolv:hover{
  color: rgb(34, 233, 199);
  text-decoration: none; 
  transition: all 0.2s ease-in-out;
}

.Dario{
  width: 500px;
  height: 200px;
  border-radius: 50px;
}

.eventoimgs{
  border-radius: 50px;
}